<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h4>Igénybevehető szolgáltatások listája</h4>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4" *ngFor="let hotelService of hotelServices; let i = index">
            <div class="card mb-3">
                <!-- <img [src]="hotelService.image" alt="{{ hotelService.serviceName }}" class="card-img-top"> -->
                <div class="card-body">
                    <h5 class="card-title">{{ i + 1 | number }}. {{ hotelService.serviceName }}</h5>
                    <p class="card-text">{{ hotelService.price }}Ft / Alkalom</p>
                    <div *ngIf="authService.isLoggedIn()">
                        <button class="btn btn-sm btn-outline-primary me-2" (click)="navigateToHotelServiceForm(hotelService.id)">Szerkesztés</button>
                        <button class="btn btn-sm btn-outline-danger" (click)="deleteHotelService(hotelService)">Törlés</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
