<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="animate-up">Duplaágyas szoba</h2>
            <hr class="animate-up">
            <p class="animate-up">
                Ez a kényelmes duplaágyas szoba két vendég számára kínál kellemes tartózkodást.
                A szoba nagy méretű franciaággyal, saját fürdőszobával és modern szolgáltatásokkal,
                például síkképernyős TV-vel és Wi-Fi kapcsolattal rendelkezik.
                A szoba modern esztétikával és bőséges természetes fénnyel rendelkezik, hogy barátságos légkört
                teremtsen.
            </p>
            <ul class="animate-up">
                <li>Nagy méretű franciaágy</li>
                <li>Saját fürdőszoba</li>
                <li>Síkképernyős TV</li>
                <li>Ingyenes Wi-Fi</li>
                <li>Minibár</li>
            </ul>
        </div>
        <div class="col-md-6">
            <!-- 
            <img src="valami.jpg" alt="Double Room" class="img-fluid animate-up">
            -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary animate-up" (click)="teszt()">Foglalás</button>
        </div>
    </div>
</div>