<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="animate-up">Kétágyas szoba</h2>
            <hr class="animate-up">
            <p class="animate-up">
                A szoba kényelmesen elrendezett, két különálló ággyal, 
                amelyeket igény szerint közelebb is lehet helyezni egymáshoz. 
                A szoba modern felszereltséggel rendelkezik, beleértve az ingyenes Wi-Fi-t, 
                síkképernyős TV-t és minibárt. A friss, tiszta ágynemű és a tágas, 
                jól felszerelt fürdőszoba még kellemesebbé teszi az itt-tartózkodást. 
                Tökéletes választás üzleti utazóknak vagy azoknak, akik értékelik a kényelmet és a praktikus elrendezést.
            </p>
            <ul class="animate-up">
                <li>Kettő egyszemélyes ágy</li>
                <li>Saját fürdőszoba</li>
                <li>Síkképernyős TV</li>
                <li>Ingyenes Wi-Fi</li>
                <li>Minibár</li>
            </ul>
        </div>
        <div class="col-md-6">
            <!-- 
            <img src="valami.jpg" alt="Double Room" class="img-fluid animate-up">
            -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary animate-up">Foglalás</button>
        </div>
    </div>
</div>