<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-md-12">
			<h4>Szobák listája</h4>
			<hr>
		</div>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Szoba típusa</th>
				<th scope="col">Férőhelyek száma</th>
				<th scope="col">Ár / éj</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let room of rooms; let i = index">
				<th scope="row">{{ i + 1 | number }}</th>
				<td>{{ room.type }}</td>
				<td>{{ room.numBeds | number }}</td>
				<td>{{ room.price }} Ft</td>
				<td><button class="btn btn-outline-primary" (click)="navigateToRoom(room.type, room.id)">Foglalás és részletek</button></td>
			</tr>
		</tbody>
	</table>
</div>