<div class="container animate-up">
    <h2>Programok és látványosságok a közelben</h2>
    <hr>
    <div class="program-grid">
        <div class="program-card">
            <img src="../../assets/images/minigolf.jpg" alt="Minigolf">
            <h3>Minigolf</h3>
            <p>Élvezd a minigolf játékot a közelben!</p>
        </div>

        <div class="program-card">
            <img src="../../assets/images/waterfall.jpg" alt="Waterfall">
            <h3>Vízesés</h3>
            <p>Fedezd fel a lenyűgöző vízeséseket a környéken!</p>
        </div>

        <div class="program-card">
            <img src="../../assets/images/castle.jpg" alt="Castle">
            <h3>Babos vár</h3>
            <p>Látogass el a helyi várba, és fedezd fel a történelmét!</p>
        </div>

        <div class="program-card">
            <img src="../../assets/images/wine-festival.jpg" alt="Wine_festival">
            <h3>Borfesztivál</h3>
            <p>Vegyél részt egy izgalmas borfesztiválon!</p>
        </div>

        <div class="program-card">
            <img src="../../assets/images/botanic-garden.jpg" alt="Botanic_garden">
            <h3>Botanikus kert</h3>
            <p>Fedezd fel a botanikus kert gyönyörű növényeit!</p>
        </div>

        <div class="program-card">
            <img src="../../assets/images/cycling.jpg" alt="Cycling">
            <h3>Kerékpározás</h3>
            <p>Tekerj a gyönyörű tájakon!</p>
        </div>

        <div class="program-card">
            <img src="../../assets/images/horseback-riding.jpg" alt="Horseback_riding">
            <h3>Lovaglás</h3>
            <p>Próbáld ki a lovaglást a környéken!</p>
        </div>

        <div class="program-card">
            <img src="../../assets/images/fishing.jpg" alt="Fishing">
            <h3>Horgászat</h3>
            <p>Horgássz a környék tavain!</p>
        </div>

        <div class="program-card">
            <img src="../../assets/images/church.jpg" alt="Church">
            <h3>Templom</h3>
            <p>Látogass el a helyi templomba!</p>
        </div>

        <div class="program-card">
            <img src="../../assets/images/hiking-trail.jpg" alt="Hiking_trail">
            <h3>Túraösvény</h3>
            <p>Élvezd a természetet egy túraösvényen!</p>
        </div>
    </div>
</div>