<div class="container">
    <div class="row justify-content-md-center">
		<div class="col-md-12">
			<h4>Foglalások listája</h4>
			<hr>
		</div>
	</div>

    <table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Foglalás dátuma</th>
                <th scope="col">Érkezés napja</th>
				<th scope="col">Távozás napja</th>
				<th scope="col">Felnőttek száma</th>
				<th scope="col">Gyerekek száma</th>
                <th scope="col">Foglalt szoba</th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngFor="let userBooking of userBookings; let i = index">
				<tr>
					<th scope="row">{{ i + 1 | number }}</th>
					<td>{{ userBooking.bookingDate }}</td>
					<td>{{ userBooking.checkInDate }}</td>
					<td>{{ userBooking.checkOutDate }}</td>
                    <td>{{ userBooking.numAdults }} fő</td>
                    <td>
						<span *ngIf="userBooking.numChildren === 0; then thenBlock else elseBlock"></span>
						<ng-template #thenBlock> - </ng-template>
						<ng-template #elseBlock>{{ userBooking.numChildren }} fő</ng-template>
					</td>
                    <td [ngSwitch]="userBooking.room?.type">
						<span *ngSwitchCase="'Double'">Franciaágyas szoba</span>
						<span *ngSwitchCase="'Twin'">Kétágyas szoba</span>
						<span *ngSwitchCase="'Family'">Családi szoba</span>
						<span *ngSwitchDefault>Egyéb</span>
					</td>
					<td>
						<button class="btn btn-sm btn-outline-danger" (click)="open(deleteConfirmationModal,userBooking.id)">Törlés</button>
						<ng-template #deleteConfirmationModal let-modal>
							<div class="modal-header">
								<h4 class="modal-title" id="modal-basic-title">Megerősítés</h4>
							</div>
							<div class="modal-body">
								Biztosan törölni szeretné ezt a foglalást?
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Mégse</button>
								<button type="button" class="btn btn-danger" (click)="modal.close('confirm')">Megerősít</button>
							</div>
						</ng-template>
					</td>
				</tr>
			</ng-container>
		</tbody>
	</table>
</div>